<app-header></app-header>

<!-- Container for the content -->
<div class="container">

  <!-- Row for centering the 'Hello' heading -->
  <div class="row justify-content-center"> 
    <h2 class="hello">Hello</h2> 
  </div>

  <!-- Row containing two columns -->
  <div class="row">

    <!-- Column for the contact image -->
    <div class="col">
      <img src="./assets/contact-image.jpg" alt="contact-image" />
    </div>

    <!-- Column for contact details -->
    <div class="col details">
      <p>
        <span class="grey-text">My name is</span> <span class="white-text">Michelle Dzvokora</span> <br/>
        and <span class="grey-text">I am currently watching</span><br/>
        <span class="grey-text">a series called</span> <span class="white-text">The Lincoln Lawyer</span>
      </p>
      <br/>
      <p>
        <span class="grey-text">You can reach me on:</span> <br/>
        <span class="white-text">Tel:</span><a class="grey-text" href="tel:0772433203">0772433203</a><br/>
        <span class="white-text">Email:</span><a class="grey-text" href="mailto:michelledzvokora1@gmail.com">michelledzvokora1@gmail.com</a>
      </p>
      <br/>
      <p>
        <span class="grey-text">Share:</span>&nbsp; 
        <a href="https://www.facebook.com/TeamAglet/" target="_blank" class="icon fab fa-facebook facebook-icon"></a> &nbsp;&nbsp;
        <a href="https://twitter.com/teamaglet" target="_blank" class="icon fab fa-twitter twitter-icon"></a> &nbsp;&nbsp;
        <a href="https://aglet.co.za/" target="_blank" class="icon fab fa-google google-icon"></a>
      </p>
    </div>

  </div>

</div>
